<div class="container">
<form #myForm="ngForm" (ngSubmit)="onSave(myForm.value)" novalidate>
<div class="form-group" [class.has-error]="firstNameVar.invalid && firstNameVar.touched">
      <label class="control-label" for="firstName">First Name</label>
      <input type="text" required pattern="[A-Za-z]*" class="form-control" id="firstName" #firstNameVar="ngModel" name="firstName" [(ngModel)]="firstName"> <br>
      
<div *ngIf="firstNameVar.invalid && firstNameVar.touched" class="alert alert-danger">
First Name is required
</div>
</div>
<button type="submit">Submit</button>
</form>
</div>